<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{orders.details}"></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
<div th:insert="~{header.html}"></div>
<div class="order-details-body">
    <div class="container">
        <h1 th:text="#{orders.details}"></h1>
        <div class="order-info">
            <div><span th:text="#{orders.details.number}"></span><span th:text="${order.getId()}"></span></div>
            <div><span th:text="#{orders.details.status} + ' '"></span><span th:text="#{${order.getStatus()}}">
            </span></div>
            <div><span th:text="#{orders.details.created}"></span><span th:text="${order.getCreatedAt()}"></span></div>
            <div><span th:text="#{orders.details.review}"></span> <span th:text="${order.getEmployeeEmail()}"></span>
            </div>
            <div sec:authorize="hasRole('EMPLOYEE')"><span th:text="#{orders.details.client}"></span> <span
                    th:text="${order.getClientEmail()}"></span></div>
            <div><span th:text="#{orders.details.totalPrice}"></span><span th:text="${order.getTotalPrice() + ' '}
         + #{currency}"></span></div>
        </div>
        <div class="book-items">
            <h2 th:text="#{orders.details.book.items}"></h2>
            <table>
                <thead>
                <tr>
                    <th th:text="#{orders.details.book}"></th>
                    <th th:text="#{orders.details.book.name}"></th>
                    <th th:text="#{orders.details.book.img}"></th>
                    <th th:text="#{orders.details.book.quantity}"></th>
                    <th th:text="#{orders.details.book.price}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${order.getBookItems()}">
                    <td th:text="${item.getBookId()}"></td>
                    <td>
                        <a th:href="@{/books/{id}(id=${item.getBookId()})}">
                            <div th:text="${item.getBookName()}"></div>
                        </a>
                    </td>
                    <td th:if="${item.getImage() == null}"><img src="/img/default_book_cover.jpg" alt="Java Programming"
                                                                class="book-img"></td>
                    <td th:if="${item.getImage() != null}"><img th:src="${item.getImage()}" alt="Book Cover"
                                                                class="book-img"></td>
                    <td th:text="${item.getQuantity()}"></td>
                    <td th:text="${item.getPrice() + ' '} + #{currency}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>