<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form th:action="@{/books}" th:method="POST" th:object="${book}">

    <div>
        <label for="name">Name: </label>
        <br th:if="${#fields.hasErrors('name')}">
        <small th:if="${#fields.hasErrors('name')}" style="color: red" th:errors="*{name}"></small>
        <br th:if="${#fields.hasErrors('name')}">
        <input id="name" type="text" th:value="${book.getName()}" th:field="*{name}">
    </div>
    <div>
        <label for="genre">Genre: </label>
        <br th:if="${#fields.hasErrors('genre')}">
        <small th:if="${#fields.hasErrors('genre')}" style="color: red" th:errors="*{genre}"></small>
        <br th:if="${#fields.hasErrors('genre')}">
        <input id="genre" type="text" th:value="${book.getGenre()}" th:field="*{genre}">
    </div>
    <div>

        <label for="ageGroup">Age group: </label>
        <select id="ageGroup" name="ageGroup" th:field="*{ageGroup}">
            <option th:each="group: ${ageGroups}"
                    th:text="${group.name().substring(0,1) + group.name().substring(1).toLowerCase()}"
                    th:value="${group}" th:selected="${group.equals(book.ageGroup)}"></option>
        </select>
    </div>
    <div>
        <label for="price">Price: </label>
        <br th:if="${#fields.hasErrors('price')}">
        <small th:if="${#fields.hasErrors('price')}" style="color: red" th:errors="*{price}"></small>
        <br th:if="${#fields.hasErrors('price')}">
        <input id="price" type="number" th:value="${book.getPrice()}" th:field="*{price}">
    </div>
    <div>
        <label for="publicationDate">Publication date: </label>
        <br th:if="${#fields.hasErrors('publicationDate')}">
        <small th:if="${#fields.hasErrors('publicationDate')}" style="color: red" th:errors="*{publicationDate}"></small>
        <br th:if="${#fields.hasErrors('publicationDate')}">
        <input id="publicationDate" type="date" th:value="${book.getPublicationDate()}" th:field="*{publicationDate}">
    </div>
    <div>
        <label for="author">Author: </label>
        <br th:if="${#fields.hasErrors('author')}">
        <small th:if="${#fields.hasErrors('author')}" style="color: red" th:errors="*{author}"></small>
        <br th:if="${#fields.hasErrors('author')}">
        <input id="author" type="text" th:value="${book.getAuthor()}" th:field="*{author}">
    </div>
    <div>
        <label for="pages">Pages: </label>
        <br th:if="${#fields.hasErrors('pages')}">
        <small th:if="${#fields.hasErrors('pages')}" style="color: red" th:errors="*{pages}"></small>
        <br th:if="${#fields.hasErrors('pages')}">
        <input id="pages" type="number" th:value="${book.getPages()}" th:field="*{pages}">
    </div>
    <div>
        <label for="characteristics">Characteristics: </label>
        <br th:if="${#fields.hasErrors('characteristics')}">
        <small th:if="${#fields.hasErrors('characteristics')}" style="color: red" th:errors="*{characteristics}"></small>
        <br th:if="${#fields.hasErrors('characteristics')}">
        <input id="characteristics" type="text" th:value="${book.getCharacteristics()}"
               th:field="*{characteristics}">
    </div>
    <div>
        <label for="description">Description: </label>
        <br th:if="${#fields.hasErrors('description')}">
        <small th:if="${#fields.hasErrors('description')}" style="color: red" th:errors="*{description}"></small>
        <br th:if="${#fields.hasErrors('description')}">
        <input id="description" type="text" th:value="${book.getDescription()}" th:field="*{description}">
    </div>

    <div>
        <label for="language">Language: </label>
        <select id="language" name="language" th:field="*{language}">
            <option th:each="language: ${languages}"
                    th:text="${language.name().substring(0,1) + language.name().substring(1).toLowerCase()}"
                    th:value="${language}" th:selected="${language.equals(book.ageGroup)}"></option>
        </select>
    </div>
    <input type="submit" value="Update">
</form>
</body>
</html>