<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div th:replace="~{/header :: header}"></div>
<div class="catalog-body">
    <div class="catalog-container">
        <h1>Book Catalog</h1>
        <form action="/books" method="GET">
            <div class="form-group">
                <label for="name">Book Name</label>
                <input type="text" id="name" name="name" placeholder="Enter book name">
            </div>
            <div class="form-group">
                <label for="genre">Genre</label>
                <input type="text" id="genre" name="genre" placeholder="Enter genre">
            </div>
            <div class="label-select-container">
                <label for="ageGroup">Age Group</label>
                <select id="ageGroup" name="ageGroup">
                    <option selected value>Any</option>
                    <option th:each="age: ${ageGroups}"
                            th:text="${age.name().substring(0,1) + age.name().substring(1).toLowerCase()}"
                            th:value="${age}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">Price Range</label>
                <div id="price" style="display: flex; gap: 10px;">
                    <input type="number" id="minPrice" name="minPrice" placeholder="Min Price" step="0.01">
                    <input type="number" id="maxPrice" name="maxPrice" placeholder="Max Price" step="0.01">
                </div>
            </div>
            <div class="form-group">
                <label for="publicationDate">Publication Date</label>
                <input type="date" id="publicationDate" name="publicationDate">
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" id="author" name="author" placeholder="Enter author name">
            </div>
            <div class="label-select-container">
                <label for="language">Language</label>
                <select id="language" name="language" >
                    <option selected value>Any</option>
                    <option th:each="language: ${languages}"
                            th:text="${language.name().substring(0,1) + language.name().substring(1).toLowerCase()}"
                            th:value="${language}"></option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="custom-button">Search</button>
            </div>
        </form>
    </div>
        <div class="book-list">
            <div class="book-card" th:each="book: ${books}">
                <img th:if="${book.image} == null" src="/img/default_book_cover.jpg" alt="Book Cover">
                <img th:if="${book.image} != null" th:src="${book.getImage()}" alt="Book Cover">
                <div class="book-info">
                    <a th:href="@{/books/{id}(id=${book.getId()})}"><h2 class="book-name"
                                                                        th:text="${book.getName()}"></h2></a>
                    <strong>Genre: </strong>
                    <p class="book-genre" th:text="${book.getGenre()}"></p>
                    <strong>Status: </strong>
                    <p class="book-status" th:text="${book.getQuantity()} > 0 ? 'In stock' : 'Out of stock'"></p>
                    <strong>Price: </strong>
                    <p class="book-price" th:text="${book.getPrice() + ' grn'}"></p>
                    <strong>Language: </strong>
                    <p class="book-language"
                       th:text="${book.getLanguage().name().substring(0,1) + book.getLanguage().name().substring(1).toLowerCase()}"></p>
                    <div class="book-actions" sec:authorize="hasRole('CLIENT')" th:if="${book.getQuantity()}  > 0">
                        <form th:action="@{/clients/{email}/cart(email=${#authentication.getName()})}" th:method="POST">
                            <input type="number" id="amount-1" min="1" value="1" th:name="quantity"
                                   th:max="${book.getQuantity()}">
                            <input type="hidden" th:name="bookId" th:value="${book.getId()}">
                            <input type="hidden" th:name="clientEmail" th:value="${#authentication.getName()}">
                            <input type="submit" value="Add to Cart" class="custom-button"></input>
                        </form>
                    </div>
                    <div class="button-group" sec:authorize="hasRole('EMPLOYEE')">
                        <form th:action="@{/books/{id}/edit-page(id=${book.getId()})}" th:method="get">
                            <input type="submit" value="Edit" class="custom-button">
                        </form>
                        <form th:action="@{/books/{id}/edit-page(id=${book.getId()})}" th:method="delete">
                            <input type="submit" value="Delete" class="custom-button">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${books.totalPages > 0}" class="pagination"
             th:each="pageNumber : ${#numbers.sequence(0,books.getTotalPages() - 1, 1)}">
            <a th:href="@{/books(size=${books.size}, page=${pageNumber})}"
               th:text="${pageNumber + 1}"
               th:class="${pageNumber==books.number} ? active" class="pagination"></a>
        </div>
    </div>

</body>
</html>