<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div th:insert="~{header.html}"></div>
<div class="book-body">
    <div class="book-details-container">
        <h1>Book Details</h1>
        <div class="book-cover">
            <img th:if="${book.image} == null" src="/img/default_book_cover.jpg" alt="Book Cover">
            <img th:if="${book.image} != null" th:src="${book.getImage()}" alt="Book Cover">
        </div>
        <div sec:authorize="hasRole('EMPLOYEE')" class="button-group">
            <form th:action="@{/books/{id}(id=${book.getId()})}" th:method="delete">
                <input type="submit" class="custom-button" value="Delete">
            </form>
            <form th:action="@{/books/{id}/edit-page(id=${book.getId()})}" th:method="get">
                <input type="submit" class="custom-button" value="Edit">
            </form>
        </div>
        <div class="book-details">
            <div class="book-detail" sec:authorize="hasRole('EMPLOYEE')">
                <strong>ID:</strong>
                <span id="book-id" th:text="${book.getId()}"></span>
            </div>
            <div class="book-detail">
                <strong>Name:</strong>
                <span id="book-name" th:text="${book.getName()}"></span>
            </div>
            <div class="book-detail">
                <strong>Genre:</strong>
                <span id="book-genre" th:text="${book.getGenre()}"></span>
            </div>
            <div class="book-detail">
                <strong>Age Group:</strong>
                <span id="book-age-group"
                      th:text="${book.getAgeGroup().name().substring(0,1) + book.getAgeGroup().name().substring(1).toLowerCase()}"></span>
            </div>
            <div class="book-detail">
                <strong>Price:</strong>
                <span id="book-price" th:text="${book.getPrice() + ' grn.'}"></span>
            </div>
            <div class="book-detail">
                <strong>Publication Date:</strong>
                <span id="book-publication-date" th:text="${book.getPublicationDate()}"></span>
            </div>
            <div class="book-detail">
                <strong>Author:</strong>
                <span id="book-author" th:text="${book.getAuthor()}"></span>
            </div>
            <div class="book-detail">
                <strong>Pages:</strong>
                <span id="book-pages" th:text="${book.getPages()}"></span>
            </div>
            <div class="book-detail" sec:authorize="hasRole('EMPLOYEE')">
                <strong>Quantity:</strong>
                <span id="book-quantity" th:text="${book.getQuantity()}"></span>
            </div>
            <div class="book-detail">
                <strong>Characteristics:</strong>
                <span id="book-characteristics" th:text="${book.getCharacteristics()}"></span>
            </div>
            <div class="book-detail">
                <strong>Description:</strong>
                <span id="book-description" th:text="${book.getDescription()}">

                </span>
            </div>
            <div class="book-detail">
                <strong>Language:</strong>
                <span id="book-language"
                      th:text="${book.getLanguage().name().substring(0,1) + book.getLanguage().name().substring(1).toLowerCase()}"></span>
            </div>
            <div class="book-detail" sec:authorize="hasRole('EMPLOYEE')">
                <strong>Created At:</strong>
                <span id="book-created-at" th:text="${book.getCreatedAt()}"></span>
            </div>
            <div class="book-detail" sec:authorize="hasRole('EMPLOYEE')">
                <strong>Updated At:</strong>
                <span id="book-updated-at" th:text="${book.getUpdatedAt()}"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
