<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" type="text/css" th:ref="@{/static/css/style.css}">
</head>
<body>
<div th:replace="~{/header :: header}"></div>

    <div>
        <table th:colspan="2" border="bold">
           <tr>
               <th>Name</th>
               <th>Genre</th>
               <th>Age group</th>
               <th>Price</th>
               <th>Author</th>
               <th>Language</th>
               <th>Operation</th>
           </tr>
            <tr th:each="book:  ${books.getContent()}">
                <td th:text="${book.getName()}"></td>
                <td th:text="${book.getGenre()}"></td>
                <td th:text="${book.getAgeGroup().name().substring(0,1) + book.getAgeGroup().name().substring(1).toLowerCase()}"></td>
                <td th:text="${book.getPrice()}"></td>
                <td th:text="${book.getAuthor()}"></td>
                <td th:text="${book.getLanguage().name().substring(0,1) + book.getLanguage().name().substring(1).toLowerCase()}"></td>
                <td>       <form th:action="@{/books/{id}(id=${book.id})}" th:method="delete">
                    <input type="submit" value="Delete">
                </form>
                    <form th:action="@{/books/{id}/edit-page(id=${book.id})}" th:method="get">
                        <input type="submit" value="Update">
                    </form>
                    <form th:action="@{/books/{id}(id=${book.id})}" th:method="get">
                        <input type="submit" value="Read">
                    </form></td>
            </tr>
        </table>
    </div>

</body>
</html>