<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit client page</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div th:insert="~{header.html}"></div>

<form th:action="@{/clients/{email}(email=${client.email})}" th:method="PUT" th:object="${client}">

    <div>
        <label for="name">Name: </label>
        <br th:if="${#fields.hasErrors('name')}">
        <small th:if="${#fields.hasErrors('name')}" style="color: red" th:errors="*{name}"></small>
        <br th:if="${#fields.hasErrors('name')}">
        <input id="name" type="text" th:value="${client.getName()}" th:field="*{name}">
    </div>
    <div>
        <label for="email">Email: </label>
        <br th:if="${#fields.hasErrors('email')}">
        <small th:if="${#fields.hasErrors('email')}" style="color: red" th:errors="*{email}"></small>
        <br th:if="${#fields.hasErrors('email')}">
        <input id="email" type="email" th:value="${client.getName()}" th:field="*{email}">
    </div>
    <div>
        <label for="balance">Balance: </label>
        <br th:if="${#fields.hasErrors('balance')}">
        <small th:if="${#fields.hasErrors('balance')}" style="color: red" th:errors="*{balance}"></small>
        <br th:if="${#fields.hasErrors('balance')}">
        <input id="balance" type="number" th:value="${client.getBalance()}" th:field="*{balance}">
    </div>
    <div>
        <label for="password">Password: </label>
        <br th:if="${#fields.hasErrors('password')}">
        <small th:if="${#fields.hasErrors('password')}" style="color: red" th:errors="*{password}"></small>
        <br th:if="${#fields.hasErrors('password')}">
        <input id="password" type="password" th:value="${client.getPassword()}" th:field="*{password}">
    </div>
    <div>
        <label for="confirmationPassword">Confirm Password: </label>
        <br th:if="${#fields.hasErrors('confirmationPassword')}">
        <small th:if="${#fields.hasErrors('confirmationPassword')}" style="color: red" th:errors="*{confirmationPassword}"></small>
        <br th:if="${#fields.hasErrors('confirmationPassword')}">
        <input id="confirmationPassword" type="password" th:value="${client.getConfirmationPassword()}" th:field="*{confirmationPassword}">
    </div>
    <div>
        <label for="oldPassword">Old Password: </label>
        <br th:if="${#fields.hasErrors('oldPassword')}">
        <small th:if="${#fields.hasErrors('oldPassword')}" style="color: red" th:errors="*{oldPassword}"></small>
        <br th:if="${#fields.hasErrors('oldPassword')}">
        <input id="oldPassword" type="password" th:value="${client.getOldPassword()}" th:field="*{oldPassword}">
    </div>

    <input type="submit" value="Update">
</form>
</body>
</html>