<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{client.details}"></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div th:insert="~{header.html}"></div>
<div class="client-body">
    <div class="form-container">
        <h2 th:text="#{client.details}"></h2>
        <div class="form-group">
            <label for="name" th:text="#{user.name}"></label>
            <input disabled id="name" type="text" th:value="${client.getName()}">
        </div>
        <div class="form-group">
            <label for="email" th:text="#{user.email}"> </label>
            <input disabled id="email" type="email" th:value="${client.getEmail()}">
        </div>
        <div class="form-group">
            <label for="phone" th:text="#{user.phone}"> </label>
            <input disabled id="phone" type="text" th:value="${client.getPhone()}">
        </div>
        <div class="form-group" sec:authorize="hasRole('CLIENT')">
            <label for="balance" th:text="#{client.balance}"> </label>
            <input disabled id="balance" type="number" th:value="${client.getBalance()}">
        </div>
        <div class="button-group">
            <form th:action="@{/clients/{email}(email=${client.getEmail()})}" th:method="delete">
                <input type="submit" th:value="#{operations.delete}" class="custom-button">
            </form>
            <form th:action="@{/clients/{email}/edit-page(email=${client.getEmail()})}" th:method="get">
                <input type="submit" th:value="#{operations.update}" class="custom-button">
            </form>
        </div>
    </div>
</div>
</body>
</html>