<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{employee.list}"></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div th:insert="~{header.html}"></div>
<div class="container">
<table>
    <thead>
    <tr>
        <th th:text="#{user.name}"></th>
        <th th:text="#{user.email}"></th>
        <th th:text="#{operations}" sec:authorize="hasRole('EMPLOYEE')"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee:  ${employees.getContent()}">
        <td th:text="${employee.getName()}"></td>
        <td th:text="${employee.getEmail()}"></td>
        <td class="button-group" sec:authorize="hasRole('EMPLOYEE')">
            <form th:action="@{/employees/{email}(email=${employee.email})}" th:method="delete">
                <input type="submit" th:value="#{operations.delete}" class="custom-button">
            </form>
            <form th:action="@{/employees/{email}/edit-page(email=${employee.email})}" th:method="get">
                <input type="submit" th:value="#{operations.update}" class="custom-button">
            </form>
            <form th:action="@{/employees/{email}(email=${employee.email})}" th:method="get">
                <input type="submit" th:value="#{operations.read}" class="custom-button">
            </form>
        </td>
    </tr>
    </tbody>
</table>
    <div th:if="${employees.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${#numbers.sequence(0,employees.getTotalPages() - 1, 1)}">
        <a th:href="@{/employees(size=${employees.size}, page=${pageNumber})}"
           th:text="${pageNumber + 1}"
           th:class="${pageNumber==employees.number} ? active" class="pagination"></a>
    </div>
</div>
</body>
</html>