<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{employee.create}"></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div th:insert="~{header.html}"></div>
<div class="employee-body">
    <form th:action="@{/employees}" th:method="POST" th:object="${employee}" class="form-container">
        <h2 th:text="#{employee.create}"></h2>
        <div class="form-group">
            <label for="name" th:text="#{user.name}"></label>
            <small th:if="${#fields.hasErrors('name')}" style="color: red" th:errors="*{name}"></small>
            <br th:if="${#fields.hasErrors('name')}">
            <input id="name" th:placeholder="#{user.name.placeholder}" type="text" th:value="${employee.getName()}" th:field="*{name}"
                   placeholder="Enter your name" required>
        </div>
        <div class="form-group">
            <label for="email" th:text="#{user.email}"></label>
            <small th:if="${#fields.hasErrors('email')}" style="color: red" th:errors="*{email}"></small>
            <br th:if="${#fields.hasErrors('email')}">
            <input id="email" type="email" th:value="${employee.getName()}" th:field="*{email}"
                   th:placeholder="#{user.email.placeholder}" required>
        </div>
        <div class="form-group">
            <label for="phone" th:text="#{user.phone}"></label>
            <small th:if="${#fields.hasErrors('phone')}" style="color: red" th:errors="*{phone}"></small>
            <br th:if="${#fields.hasErrors('phone')}">
            <input id="phone" type="text" th:value="${employee.getPhone()}" th:field="*{phone}"
                   th:placeholder="#{user.phone.placeholder}" required>
        </div>
        <div class="form-group">
            <label for="birthDate" th:text="#{employee.birthday}"> </label>
            <small th:if="${#fields.hasErrors('birthDate')}" style="color: red" th:errors="*{birthDate}"></small>
            <br th:if="${#fields.hasErrors('birthDate')}">
            <input id="birthDate" type="date" th:value="${employee.getBirthDate()}" th:field="*{birthDate}" required>
        </div>
        <div class="form-group">
            <label for="password" th:text="#{user.password}"></label>
            <small th:if="${#fields.hasErrors('password')}" style="color: red" th:errors="*{password}"></small>
            <br th:if="${#fields.hasErrors('password')}">
            <input id="password" type="password" th:value="${employee.getPassword()}" th:field="*{password}"
                   th:placeholder="#{user.password.placeholder}" minlength="6" required>
        </div>
        <div class="form-group">
            <label for="confirmationPassword" th:text="#{user.confirmationPassword}"></label>
            <small th:if="${#fields.hasErrors('confirmationPassword')}" style="color: red"
                   th:errors="*{confirmationPassword}"></small>
            <br th:if="${#fields.hasErrors('confirmationPassword')}">
            <input id="confirmationPassword" type="password" th:value="${employee.getConfirmationPassword()}"
                   th:field="*{confirmationPassword}" th:placeholder="#{user.confirmationPassword.placeholder}" minlength="6" required>
        </div>
        <input type="submit" th:value="#{operations.create}" class="custom-button">
    </form>
</div>
</body>
</html>