<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div th:insert="~{header.html}"></div>

    <h2 th:if="${items.isEmpty()}">Your cart is empty!</h2>
    <table th:if="${!items.isEmpty()}">
        <tr>
            <th>Name: </th>
            <th>Quantity: </th>
            <th>Price: </th>
            <th>Operations: </th>
        </tr>
        <tr th:each="item: ${items}">
            <td th:value="${item.getBookName()}"></td>
            <td th:value="${item.getQuantity()}"></td>
            <td th:value="${item.getPrice()}"></td>
            <td>
                <form th:action="@{/cart/{client-email}/{id}(client-email=${principal.getUsername()}, id=item.getId())}">
                    <input type="submit" th:value="Delete item">
                </form>
            </td>
        </tr>
    </table>
</body>
</html>